html{
    scroll-behavior: smooth;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.container{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* start header  */
header {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0px;
}
.header__container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}
.header__container .header__logo{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.header__container a{
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    color: white;
    transition: 0.3s;
    padding: 0 20px;
    text-transform: uppercase;
}
.header__container a:hover{
    color:#e62b4a
}
.header__container a.active{
    color:#e62b4a
}
/* justify = truc X
align = truc Y */
/* end header  */


/* start banner  */
.banner {
    background-image: url(./image-video/home_slider.jpg);
    height: 700px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner__container{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.banner__container button {
    color: white;
    border: none;
    background: #e62b4a;
    padding: 18px 30px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: "Roboto";
}
.banner__container button:hover{
    background: #af2239;
}

.banner__container p{
    font-size: 25px;
}
.banner__container h1{
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    padding: 10px 0px;
}
.banner__container i{
    font-size: 30px;
    margin-top:50px;
    color: white;
    opacity: 0.5;
    animation-name: animationArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}
/* end banner  */
/* start carousel  */
.carousel{
    background: black;
    padding: 90px 0;
    text-align: center;
}
.carousel__container{
    width: 75%;
    letter-spacing: 1px;
}
.carousel__title p:first-child{
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}
.carousel__title h2 {
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.carousel__title p:last-child{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}
.carousel__list{
    margin-top: 25px;
}
.carousel__list p {
    font-size: 14px;
    text-transform: uppercase;
}
.carousel__item{
    padding: 0 10px;
    color: #888888;
}
.carousel__item .item__container{
    background: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.carousel__item .item__container::before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 5px;
    background: #e62b4a;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.3s;
}
.carousel__item .item__container:hover::before{
    transform: translateY(0);
}
.carousel__item .item__container i{
    font-size: 50px;
}
.slick-dots li.slick-active button::before {
    color:#e62b4a;
}
.slick-dots li button::before{
    color:white;
    font-size: 14px;
    opacity: 0.3;
}
.slick-dots{
    bottom:-40px;
}

/* end carousel  */
/* start blog  */
.blog {
    padding: 80px 0;
    background-color: #f3f3f3;
}
.blog__title{
    text-align: center;
}
.blog__title p:first-child{
    font-size: 14px;
    color: #888888;
    font-weight: 400;
}
.blog__title p:last-child{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

.blog__title h2{
    font-size: 50px;
    font-weight: 400;
}
.blog__container {
    width: 75%;
    margin: 50px auto 0;
}
.blog__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.blog__list img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: contrast(0.5);
}
.blog__item {
    position:relative;
}
.blog__item .item__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(230, 43, 74, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.blog__item .item__overlay:hover{
    opacity:1;
}
.overlay__search {
    width: 35px;
    height: 35px;
    background: white;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    transition: 0.5s;
}

.overlay__title {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
    transform: translateY(20px);
    transition: 0.5s;  
}
.overlay__title p{
    color: #D0C7C8;
}
.blog__item:hover .overlay__search {
    transform: translateY(0);
}
.blog__item:hover .overlay__title {
    transform: translateY(0);
}

.blog__list .item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.blog__list .item-10 {
    grid-column: 3/5;
    grid-row: 3/ span 2;
}
/* end blog  */
/* start number  */
.number {
    background: black;
    padding: 100px 0px;
}
.number__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.number .number__item {
    color: white;
    width: 25%;
}
.number__item p:first-child{
    font-size: 60px;
    font-weight: 300;
}
.number__item p:last-child{
    font-size: 20px;
    text-transform: uppercase;
    color: #888888;
}
/* end number  */

/* start exp  */
.experience {
    background-image: url(./image-video/bussiness_img_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.exp__title{
    text-align: center;
}
.exp__title p:first-child{
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}
.exp__title h2{
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.exp__title p:last-child{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}
.exp__video{
    width: 75%;
    margin: 30px auto 0;
}
.exp__video video{
    width: 100%;
    object-fit: cover;
}
/* end exp  */

/* start contact  */

/* end contact  */
.contact {
    padding:100px 0px;
}
.contact__title{
    text-align: center;
}
.contact__title h2{
    font-size: 50px;
    font-weight: 400;
}
.contact__title p{
    color: #888888;
    font-weight: 400;
    margin-top: 20px;
}
.contact .content__map iframe{
    border: none;
    width: 600px;
    height: 450px;
    width: 100%;
}
.contact__content {
    display: flex;
    width: 70%;
    margin: 30px auto 0;
}
.content__map {
    width: 60%;
}
.content__form {
    width: 40%;
}
.content__form form { 
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.content__form input, .content__form textarea{
    font-size: 15px;
    padding: 15px;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.content__form button{
    padding: 20px 30px;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
.content__form button:hover{
    background: #e62b4a;
}
/* end contact  */

/* start footer  */
footer {
    background: black;
    color: white;
}
.footer__content{
    width: 75%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__content a{
    height: 54px;
    width: 54px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    text-align: center;
    line-height: 54px;
    color: white;
    border-radius: 50%;
    transition: 0.4s;
    margin-left: 5px;
}
.footer__content a:hover{
    background-color:#e62b4a;
}
/* end footer  */

#myBtn {
    display: none;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0,0.2);
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;      
    right: 20px;
    z-index: 99;
    border:none;
    cursor: pointer;
  }
  #myBtn i {
    color: white;
  }

/* animation  */
@keyframes animationArrow {
    from{
        transform: translateY(0px);
        opacity:0.8;
    }
    to{
        transform: translateY(50px);
        opacity:0;
    }
    
}